<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh-Hans">
<link th:fragment="css" type="text/css" rel="stylesheet" th:href="@{/css/calendar.css}"/>
<link th:fragment="css" type="text/css" rel="stylesheet" th:href="@{/css/common.css}"/>
<head>
    <meta charset="UTF-8">
    <title>算法竞赛日历</title>
    <link rel="icon" th:href="@{/icon/calendar.png}"/>
    <script th:src="@{/js/calendar.js}"></script>
</head>
<body>
<!--导入导航栏-->
<div th:replace="~{fragments/header.html}"></div>
<div class="outerBox SelectBox">
    <div class="TypeBox">
        <label>比赛类型:</label>
    <!--    类型选择 ACM or OI or All-->
        <select id="typeSelect" onchange="changeContestType()">
            <option value="ACM">ACM</option>
            <option value="OI">OI</option>
            <option value="All">全部</option>
        </select>
    </div>
    <div class = "isOverBox">
        <select id="isOverSelect" onchange="changeContestType()">
            <option value="notOver">未结束</option>
            <option value="isOver">已结束</option>
        </select>
    </div>
    <div class="PlatformBox">
        <input type="checkbox" onchange="changeContestType()" id="othersCheckbox" checked> <img class="platformIcon" th:src="@{/icon/others.png}" alt="其他"/>
        <input type="checkbox" onchange="changeContestType()" id="leetcodeCheckbox" checked> <img class="platformIcon" th:src="@{/icon/LcIcon.png}" alt="LeetCode"/>
        <input type="checkbox" onchange="changeContestType()" id="codeforcesCheckbox" checked> <img class="platformIcon" th:src="@{/icon/CfIcon.png}" alt="Codeforces"/>
        <input type="checkbox" onchange="changeContestType()" id="nowcoderCheckbox" checked> <img class="platformIcon" th:src="@{/icon/NcIcon.ico}" alt="牛客"/>
        <input type="checkbox" onchange="changeContestType()" id="luoguCheckbox" checked> <img class="platformIcon" th:src="@{/icon/LgIcon.png}" alt="洛谷"/>
    </div>
</div>
<div class="outerBox">
    <table>
        <thead>
        <tr class="calendarHeader">
            <th>#</th>
            <th>平台</th>
            <th>比赛名称</th>
            <th>开始时间</th>
            <th>持续时间</th>
            <th>状态</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="pagination outerBox">
    <button onclick="firstPage()" class="page-btn"><img class="pageicon" th:src="@{/icon/lleft.png}"/></button>
    <button onclick="previousPage()" class="page-btn"><img class="pageicon" th:src="@{/icon/left.png}"/></button>
    第<input id="currentPage" type="text" value="1" onchange="gotoPage()" oninput="validateInput(this)" class="page-input"/>页
    &nbsp;&nbsp;/&nbsp;&nbsp;共&nbsp;<span id="totalPage">1</span>&nbsp;页
    <button onclick="nextPage()" class="page-btn"><img class="pageicon" th:src="@{/icon/right.png}"/></button>
    <button onclick="lastPage()" class="page-btn"><img class="pageicon" th:src="@{/icon/rright.png}"/></button>
</div>


<!--核心特效定义js-->
</body>

</html>